<a href="https://colab.research.google.com/github/increpare/tatoeba_toki_pona_spellcheck/blob/main/collab_notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import os
import urllib.request
print("downloading toki pona sentences from tatoeba")
urllib.request.urlretrieve('https://downloads.tatoeba.org/exports/per_language/toki/toki_sentences.tsv.bz2', 'toki_sentences.tsv.bz2')

!rm -rf /content/toki_sentences.tsv

print("decompressing data")
!bunzip2 /content/toki_sentences.tsv.bz2

downloading toki pona sentences from tatoeba
decompressing data

In [4]:

import pandas as pd
df = pd.read_csv("/content/toki_sentences.tsv",names=["k","v"],delimiter="\t")
words = ["a","akesi","ala","ali","alasa","ale","anpa","ante","anu","awen","e","en","esun","ijo","ike","ilo","insa","jaki","jan","jelo","jo","kala","kalama","kama","kasi","ken","kepeken","kili","kin","kipisi","kiwen","ko","kon","kule","kulupu","kute","la","lape","laso","lawa","leko","len","lete","li","lili","linja","lipu","loje","lon","luka","lukin","lupa","ma","mama","mani","meli","mi","mije","moku","moli","monsi","monsuta","mu","mun","musi","mute","namako","nanpa","nasa","nasin","nena","ni","nimi","noka","o","oko","olin","ona","open","pakala","pali","palisa","pan","pana","pi","pilin","pimeja","pini","pipi","poka","poki","pona","pu","sama","seli","selo","seme","sewi","sijelo","sike","sin","sina","sinpin","sitelen","sona","soweli","suli","suno","supa","suwi","tan","taso","tawa","telo","tenpo","toki","tomo","tonsi","tu","unpa","uta","utala","walo","wan","waso","wawa","weka","wile"]

In [5]:
import re

def validate(w):
  if w[0].isupper():
    return True
  return w in words

freq={}

for index, row in df.iterrows():
  import re
  tokens = re.findall(r'\w+',row['v'])
  for w in tokens:
    if not validate(w):
      if w=="pomo":
        print(row['v'])
      if w not in freq:
        freq[w]=0
      freq[w]=freq[w]+1
      break

kili pomo li lon ni. mi lukin e ona.
sina wile ala wile moku e kili pomo? - wile ala. mi moku e kili tu lon tenpo pini.

In [6]:
d_view = [ (v,k) for k,v in freq.items() ]
d_view.sort(reverse=True) # natively sort tuples by first element
for v,k in d_view:
    print("%s: %d" % (k,v))

sitlen: 5
sielo: 5
pimjea: 5
ton: 4
tempo: 4
56: 4
teno: 3
sitelten: 3
sitele: 3
pata: 3
3: 3
18: 3
sono: 2
siejelo: 2
pomo: 2
naso: 2
napa: 2
mons: 2
lupo: 2
lo: 2
lijna: 2
kali: 2
ja: 2
al: 2
4: 2
2: 2
ъ: 1
ĉiutage: 1
ß: 1
wille: 1
will: 1
wila: 1
werden: 1
waju: 1
uuu: 1
utata: 1
unu: 1
tepo: 1
tenp: 1
tenop: 1
temp: 1
temo: 1
teka: 1
supo: 1
suo: 1
sss: 1
sitlene: 1
sins: 1
sine: 1
sijo: 1
sijeo: 1
siejlo: 1
powe: 1
pono: 1
pon: 1
pokl: 1
pmeja: 1
plilin: 1
pip: 1
pani: 1
p: 1
oni: 1
oli: 1
nunpa: 1
non: 1
noko: 1
nasina: 1
muno: 1
molu: 1
mo: 1
mir: 1
mijel: 1
miau: 1
mel: 1
m: 1
lukln: 1
luki: 1
lli: 1
ll: 1
lila: 1
liji: 1
lan: 1
kupupu: 1
kulupi: 1
kona: 1
kepken: 1
kekepen: 1
katala: 1
kalam: 1
kakatutututu: 1
joe: 1
janTon: 1
ino: 1
in: 1
ili: 1
il: 1
ii: 1
eni: 1
duplicate: 1
du: 1
cat: 1
awa: 1
au: 1
anticonstitutionnellement: 1
ani: 1
9: 1
789: 1
69: 1
65: 1
60: 1
6: 1
59: 1
500: 1
5: 1
39: 1
300: 1
25: 1
24: 1
2010: 1
2009: 1
20: 1
1970: 1
119: 1
110: 1
105: 1
007: 1
0: 1